@using BookShop.Domain.ViewModels.Books;
@model List<BookShop.Domain.Entity.Books>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="padding: 10px;"></div>
@if (Model.Count == 0)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://images.wallpaperscraft.ru/image/single/bmw_fary_podsvetka_137326_1280x720.jpg"
                 class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Список Книг пуст :(</h5>
                    <p class="card-text">
                        Список пополниться позже, не расстраивайтесь
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class ="center"><h1>Бестселлеры</h1></div>
        @foreach (var book in Model)
        {   
            if (book.Bestseller)
            {
                <div class="row row-cols-1 col-md-4 text-center">
                    <div class="col" style="padding: 10px;">
                        
                        <div class="card">
                            <img height="500" src="@book.Img" class="card-img-top card-img-" alt="@book.Title">
                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <p class="card-text">@book.ShortDescription</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость: @book.Price ₽</li>
                                <li class="list-group-item">@book.Category</li>
                            </ul>
                            <div class="card-body button-color text-white">
                                <a class="nav-link text-white" asp-action="GetBook" asp-route-id="@book.Id" class="card-link">Подробнее</a>
                                @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                                @if (User.IsInRole("Admin"))
                                {
                                    <hr />
                                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Удалить</a>
                                    <a asp-controller="Book" asp-action="Save" asp-route-id="@book.Id" class="btn btn-primary">Изменить</a>
                                }
                            </div>
                    </div>
                </div>
                </div>
            }
        }
        <div class="center"><h1>Новинки</h1></div>
        @foreach (var book in Model)
        {
            if (book.Noveltie)
            {
                <div class="row row-cols-1 col-md-4 text-center">
                    <div class="col" style="padding: 10px;">
                        
                        <div class="card">
                            <img height="500" src="@book.Img" class="card-img-top card-img-" alt="@book.Title">
                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <p class="card-text">@book.ShortDescription</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость: @book.Price ₽</li>
                                <li class="list-group-item">@book.Category</li>
                            </ul>
                            <div class="card-body button-color text-white">
                                <a class="nav-link text-white" asp-action="GetBook" asp-route-id="@book.Id" class="card-link">Подробнее</a>
                                @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                                @if (User.IsInRole("Admin"))
                                {
                                    <hr />
                                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Удалить</a>
                                    <a asp-controller="Book" asp-action="Save" asp-route-id="@book.Id" class="btn btn-primary">Изменить</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        
    </div>
}